html{
  background-color: blueviolet;
}
#chat-app {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  #chat-window {
    background-color:black;
    padding: 20px;
  }
  
  #output {
    height: 300px;
    overflow-y: scroll;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
  }
  
  input[type="text"] {
    width: 80%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button {
    width: 20%;
    height: 40px;
    background-color: lightblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: blue;
  }
  