nav{
    display: flex;
    padding: 15px 28px ;
    background-color:white;
}
.item{
    list-style: none;
    padding: 7px 8px;
}
.icon{
    text-decoration: none;
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 45px;
    display: block;
    color:black;
    margin-right: 17px;

}
.item a{
    text-decoration: none;
    padding: 10px 1px ;
    display: block;
    color:black;
    font-size: 13px ;
    font-family: 'Hind', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Open Sans', sans-serif;
    text-shadow: none;
}
.item a:hover{
    background: black;
    color: white;
}
.cau1{
    color: white;
    position: relative;
    bottom: 200px;
    right: 100px;
    text-align: justify;
}
.cau2{
  color: black;
  position: relative;
  bottom: 200px;
  right: 100px;
  text-align: justify;
}
div.container{
    max-width: 1450px;
}
span.carousel-control-prev-icon{
    position: relative;
    right: 77px;
    background-image:url()
    
}
span.carousel-control-next-icon{
    position: relative;
    left: 77px;
}