@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:wght@400;500&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:wght@400;500&family=Varela+Round&display=swap');

body{
    background-color: #1f0c0c;
}
*{
    padding: 0;
    margin: 0;

}

.brand img{
    margin: 25px;
    width: 120px;

}
.link{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    size: 40px;
    display: flex;
    list-style: none;
    background-color: black;
    color: whitesmoke;
    align-items: center;
}
.container{
    min-height: 72vh;
    background-color:rgba(255, 255, 255, 0.044);
    color: white;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin: 23px auto;
    width: 70%;
    padding: 34px;
    border-radius: 12px;
}
.bottom{
    position:sticky;
    height: 100px;
    background-color: black;
    bottom: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin: 20px 0px;
    
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songItemcontainer{
    margin: 50px;
}
.songItem{
    height: 70px;
    display: flex;
    background-color: white;
    color: #1f0c0c;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    justify-content: space-between;
    border-radius: 5px;
}
.songItem img{
    width: 70px;
    margin: 0px;
}
.timeStamp{
    margin: 0 23px;
    
}
.timeStamp i{
    cursor: pointer;
}
.text1{
    margin: 25px;
}