@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


body {
    font-family: Arial, sans-serif;
    background-color:rgb(90, 90, 153);
}

.resume {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#name {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.contact-item {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

.skills-table {
    margin-top: 30px;
}

.skills-table h2.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.skills-table table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table th,
.skills-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.skills-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.skills-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.skills-table tr:hover {
    background-color: #e9e9e9;
}

.education-table {
    margin-top: 30px;
}

.education-table h2.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.education-table table {
    width: 100%;
    border-collapse: collapse;
}

.education-table th,
.education-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.education-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.education-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.education-table tr:hover {
    background-color: #e9e9e9;
}

.portfolio-table {
    margin-top: 30px;
}

.portfolio-table h2.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.portfolio-table table {
    width: 100%;
    border-collapse: collapse;
}

.portfolio-table th,
.portfolio-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.portfolio-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.portfolio-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.portfolio-table tr:hover {
    background-color: #e9e9e9;
}

.portfolio-table a {
    color: #0066cc;
    text-decoration: none;
}

.portfolio-table a:hover {
    text-decoration: underline;
}

.resume-container {
    display: flex;
    justify-content: space-between;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

}
img{
    width: 100%;
    border-radius: 60%;
}

.resume-content {
    width: calc(100% - 200px);
    /* Adjust the width to leave space for the profile image */
    margin-top: 20px;
    margin-left: 35px;
}
#text{
    font-weight: bold;
}
button{
    padding: 15px;
}
#github1{
    padding: 7px;
}
#icongit{
    width: 25px
}
.declaration{
    border: solid;
    text-align: center;
    margin-top: 150px;
}