
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.Title{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 700px;
    align-items: center;

}
.Title h1{
    font-size: 40px ;
    color: linear-gradient(to left bottom, #051337, #1e0d2c, #260920, #280a16, #250c0c);
}
.Title p {
    font-size: 20px;
    padding: 20px;
}
.main{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left bottom, #051337, #1e0d2c, #260920, #280a16, #250c0c);
    

}
div.Calculator{
    padding: 20px;
    box-shadow: 2px 2px 20px 0px rgb(255, 255, 255);
    border-radius: 0px 20px 20px 0px;
    display: inline;
    align-items: center;
   
}
span{
    width: 350px;
    height: 30px;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: transparent;
    color: white;
    text-align: right;
    font-size: 20px;
    margin-left: 10px;
} 
input#display:focus {
    outline: none;
}

input#display{
    width: 350px;
    height: 50px;
    display: grid;
    grid-template-columns:1fr;
    background: transparent;
    color: white;
    font-size: 30px;
    border: none;
    margin-left: 10px;
    caret-color: transparent;
    text-align: end;
    
}

::placeholder{
    color: rgba(255, 255, 255, 0.556);
}
.buttons {
    align-items: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 450px;
    height: 500px;
}
.calc-button{
    cursor: pointer;
    border-radius: 100px;
    height: 79px;
    background-color: rgb(75, 74, 74);
    box-shadow: 1px 1px 76px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    font-size: 30px;
    width: 80px;
    border: none;
    color: white;
    text-align: center;
}
button{
    align-items: center;
    margin: 3px;
}
#button-divide {
    background-color: #fe9505;

}
#button-x {
    background-color: #fe9505;

}
#button-- {
    background-color: #fe9505;

}
#button-add {
    background-color: #fe9505;

}
#button-equal {
    background-color: #fe9505;

}
#button-AC {
    background-color: rgb(164, 162, 162);
    color: black;

}
#button-C {
    background-color: rgb(164, 162, 162);
    color: black;

}
#button-percent {
    background-color: rgb(164, 162, 162);
    color: black;

}
div.history {
    display:flex ;
    justify-content: center;
    align-items: first baseline;
    width: 200px;
    height: 88vh;
    border-radius: 20px 0px 0px 20px;
    margin: 20px;
    box-shadow: 2px 2px 20px 0px rgb(255, 255, 255);
    
}

.history h2 {
    margin: 10px;
    background-color: transparent;
    text-decoration:underline;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    padding: 30px;
}
#history-list{
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}
.history ol {
    list-style-type: none;
    padding-left: 0;
}
.history li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}






